.about__hero {
    @extend %bg-tint;
    padding: 0 0 0 var(--col) !important;
    position: relative;
    white-space: nowrap;
    z-index: 2;

    @include media('<tablet') {
        background: transparent;
        white-space: initial;
    }

    @include media('>=phone', '<tablet', 'landscape') {
        padding: 200px 0 200px calc(var(--col) * 2) !important;
    }

    @include media('<=phone') {
        padding: 175px var(--col) !important;
    }

    h2 {
        color: theme-color('white');
        margin-bottom: 30px;

        @include media('<tablet') {
            margin-top: 200px;
        }
        
        span {
            color: theme-color('secondary');
        }
    }
    li {
        @extend %h4;
        @extend %bullet;
        &:before {
            margin: 0 10px 0 17px !important;

            @include media('<tablet') {
                display: none !important;
            }

        }
    }
    + .about__image {
        position: relative;
        z-index: 1;

        @include media('<x-large') {
            display: flex;
            justify-content: flex-end;
            opacity: .3;
            position: absolute;
            z-index: -1;
        }

        @include media('>=large', '<x-large') {
            background: transparent;
        }

        img {
            @include object-fit(cover, top center);

            @include media('>=large', '<x-large') {
                img {
                    @include width-height(auto, 100%);
                }
            }
            
        }
    }
}