.about {
    $this: &;
    @extend %container; 
    &__hero {
        @extend %bg-tint;
        padding: 0 0 0 var(--col) !important;
        @include media-breakpoint-down(lg) {
            + #{$this}__image {
                background: transparent;
                display: flex;
                justify-content: flex-end;
                opacity: .5;
                position: absolute;
                z-index: -1;
                img {
                    @include width-height(auto, 100%);
                }
            }
        }
        h1 {
            @extend %h2;
            color: theme-color('white');
            margin-bottom: 30px;
            span {
                color: theme-color('secondary');
            }
        }
        li {
            @extend %h4;
            @extend %bullet;
        }
    }
    &__image {
        @extend %bg-tint;
        mix-blend-mode: exclusion;
        @include media-breakpoint-down(lg) {
            height: 400px;
        }
        img {
            @include object-fit(cover, top left);
            @include width-height(100%);
            @include media-breakpoint-down(lg) {
                @include width-height(100%);
            }
        }
        &--full {
            height: 500px;
            margin-bottom: 100px;
            margin-top: 200px;
            &::before {
                @extend %bar;
                content: '';
                height: 200px;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
                z-index: 2;
            }
            i {
                @extend %icon-square;
                border: 1px solid theme-color('secondary');
                color: theme-color('secondary');
                left: calc(var(--col) * 2);
                bottom: -300px;
                &::after {
                    background: theme-color('secondary');
                    bottom: 100%;
                    height: 150px;
                }
            }
        }
    }
    &__pattern {
        @extend %pattern;
        height: 500px !important;
        left: calc(var(--col) * 7.5);
        top: -200px;
        transform: translateX(-50%);
        &--bottom {
            bottom: 0;
            left: calc(var(--col) * 2.5);
            top: initial;
        }
    }
    &__content {
        margin-bottom: 300px;
        @include media-breakpoint-down(lg) {
            margin-bottom: 150px;
        }
        .col-xl-4 {
            padding: 100px 0;
            @include media-breakpoint-between(lg, lg) {
                padding: 100px 0 50px;
            }
        }
        h3 {
            @extend %h4;
            letter-spacing: 0;
            margin-bottom: 40px;
            text-transform: unset;
            a {
                @extend %link;
            }
        }
        i {
            @extend %icon-square;
            border: 1px solid theme-color('white');
            color: theme-color('white');
            right: calc(var(--col) * 4);
            top: -200px;
            @include media-breakpoint-down(lg) {
                right: calc(var(--col) * 2);
            }
            &::after {
                background: theme-color('white');
                height: 200px;
                top: 100%;
            }
        }
        &--full {
            margin-top: 300px;
            @include media-breakpoint-down(lg) {
                margin-top: 150px;
            }
            i {
                border: 1px solid theme-color('secondary');
                color: theme-color('secondary');
                left: calc(var(--col) * 2.5);
                top: -450px;
                @include media-breakpoint-down(lg) {
                    top: -300px;
                }
                &::after {
                    background: theme-color('secondary');
                    height: 350px;
                    @include media-breakpoint-down(lg) {
                        height: 200px;
                    }
                }
            }
        }
    }
    &__goals {
        h3 {
            @extend %h2;
            margin-bottom: 70px;
        }
        ul {
            width: calc(var(--col) * 3);
            @include media-breakpoint-down(lg) {
                display: grid;
                gap: 25px;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
            }
            h4 {
                @extend %h3;
            }
            li {
                margin-bottom: 40px;
            }
        }
        i {
            @extend %icon-square;
            border: 1px solid theme-color('secondary');
            color: theme-color('secondary');
            left: calc(var(--col) * 2);
            top: -100px;
            @include media-breakpoint-down(lg) {
                left: calc(var(--col) * 7);
            }
            @include media-breakpoint-down(md) {
                top: -150px;
            }
            &::after {
                background: theme-color('secondary');
                bottom: 100%;
                height: 150px;
            }
        }
        .btn {
            margin-top: 20px;
        }
    }
    &__testimonials {
        margin-top: 250px;
        @include media-breakpoint-down(lg) {
            margin-top: 150px;
        }
        h3 {
            @extend %h6;
        }
        ul::before {
            @include fontSize(600px);
            color: theme-color('secondary');
            content: '"';
            font-family: var(--primary-font);
            right: calc(100% + 20px);
            line-height: 0;
            position: absolute;
            top: 165px;
        }
        blockquote {
            padding-top: 10px;
            p {
                @extend %h4;
            }
            cite {
                @extend %p;
                font-style: normal;
                margin-top: 100px;
            }
        }
    }
    &__awards {
        margin-top: 50px;
        padding: 0 calc(var(--col) / 2) !important;
        &:last-child {
            margin-bottom: 100px;
        }
        h3 {
            @extend %title-underline;
            color: theme-color('secondary');
            margin-bottom: 50px;
            &::after {
                background: theme-color('secondary');
            }
        }
        li {
            @extend %p;
            margin-bottom: 10px;
            * {
                @extend %bullet;
                &:first-child {
                    color: theme-color('secondary');
                }
            }
        }
    }
}