.contact {
    @extend %container;
    z-index: 1;
    &__content {
        @extend %bg-tint;

        @include media('>=phone', '<850px', 'landscape') {
            padding: 175px 0 100px !important;
        } 

        @include media('<=phone') {
            padding: 150px 0 75px;
        }

        *:not(.contact__image):not(img) {
            position: relative;
            z-index: 2;
        }
        h1 {
            @extend %h3;
            margin-bottom: 20px;
            @include media('<tablet') {
                padding: 0 calc(var(--col) * 2);
            }
        }
        a[href^="mailto:"] {
            @extend %h2;
            background: theme-color('secondary');
            color: theme-color('primary');
            min-width: calc(var(--col) * 8);
            padding: 30px;

            @include media-breakpoint-between(lg, lg) {
                padding: 20px;
            }

            @include media-breakpoint-down(lg) {
                min-width: 100vw;
            }

        }
        p {
            @extend %h3;
        }
    }
    &__image {
        @include width-height(calc(var(--col) * 5), 50%);
        bottom: 0;
        opacity: .75;
        right: 0;

        @include media-breakpoint-down(lg) {
            @include width-height(100%, 50%);
        }
        
        img {
            @include object-fit(cover, center);
            @include width-height(100%);
            mix-blend-mode: exclusion;
        }
    }
    &__pattern {
        @extend %pattern;
        height: 50%;
        left: 50%;
        top: 0;
        transform: translate(-50%, -6px);
    }
}