.front-page {
    @extend %container;
    &--image {
        @extend %bg-tint;
        mix-blend-mode: exclusion;
        overflow: hidden;
        position: relative;
        img {
            @include object-fit(cover, top right);
            height: 100%;
            width: 100%;
        }
    }
    &--content {
        @extend %bg-tint;
        --tt-key: front-page;
        --tt-min: 1366;
        --tt-max: 1600;
        h1 {
            @extend %h2;
            margin-bottom: 50px;
            padding-right: var(--col) / 2;
            // @include media-breakpoint-down(xl) {
            //     margin-bottom: 40px;
            // }
        }
        p {
            padding: 0 var(--col);
        }
        .btn {
            margin: 50px 0 0 var(--col);
        }
    }
    &--pattern {
        @extend %pattern;
        height: 50%;
        left: 50%;
        top: 0;
        transform: translate(-50%, -6px);
    }
}

@keyframes front-page {
    0%,
    85% {
        padding: 60px 0 70px;
    }
    100% {
        padding: 60px 0 100px;
    }
}