.resume {
    margin-top: 100px;
    &__person {
        h1 {
            @extend %h2;
            color: theme-color('white');
            line-height: .75;
        }
        strong {
            @extend %h4;
            color: theme-color('secondary');
        }
    }
    &__contact li {
        margin-left: 40px;
        position: relative;
        &:not(:first-child) {
            margin-bottom: 8px;
        }
        span {
            @extend %small-caps;
            color: theme-color('white');
        }
        i {
            @include fontSize(17px);
            color: theme-color('secondary');
            left: -40px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
        }
    }
    &__exp {
        $i: &;
        @extend %lists;
        &__section {
            margin-bottom: 60px;
        }
        &__list {
            margin: 30px 0 0;
            padding: 0 0 0 50px;
            li {
                @extend %p;
                color: theme-color('white');
                position: relative;
                &:before {
                    @include width-height(25px, 2px);
                    background: theme-color('secondary');
                    content: '';
                    left: -50px;
                    position: absolute;
                    top: 14px;
                }
            }
        }
        h2 {
            @extend %h3;
            &#{$i}__title {
                @extend %h6;
                @extend %title-underline;
                margin: 100px 0 70px;
            } 
        }
    }
    &__side {
        @extend %lists;
        h2 {
            @extend %h6;
            @extend %title-underline;
            margin: 10px 0 70px;
        }
        h3 {
            margin-top: 40px;
        }
        strong {
            display: block;
        }
    }
    .col-lg-6 {
        padding: 0 calc(var(--col) / 2);
    }
    .col-lg-3 {
        padding-right: calc(var(--col) / 2);
    }
    li {
        margin-bottom: 25px;
    }
}

@keyframes title {
    0%,
    20% {
        @include fontSize(15px);
    }
    100% {
        @include fontSize(35px);
    }
}