@import 'about/images';
@import 'about/hero';
@import 'about/content';
@import 'about/goals';
@import 'about/testimonials';
@import 'about/awards';

.about {
    @extend %container;

    @include media('<tablet') {
        padding: 0;
    }

    &__pattern {
        @extend %pattern;
        height: 500px !important;
        left: calc(var(--col) * 7.5);
        top: -200px;
        transform: translateX(-50%);

        @include media('<tablet') {
            left: calc(var(--col) * 9);
        }

        &--bottom {
            bottom: 0;
            left: calc(var(--col) * 2.5);
            top: initial;
        }
    }
}