.front-page {
    @extend %container;
    &__image {
        @extend %bg-tint;
        mix-blend-mode: exclusion;

        @include media('>tablet', '<x-large') {
            background: transparent;
            height: 95% !important;
        }

        @include media('<x-large') {
            bottom: 0;
            right: 0;
            opacity: 0.3;
            position: absolute !important;
            transform: translateX(35%);
            z-index: 1;
        }

        @include media('<large') {
            left: 0;
            transform: none;
        }

        img {
            @include object-fit(cover, top center);
            @include width-height(100%);

            @include media('<small', '>tablet') {
                @include object-fit(cover, center);
            }
        }
    }
    &__content {
        @extend %bg-tint;
        padding: 8vh 0 0;

        @include media('<x-large') {
            padding: 15vw var(--col) 0 !important;
            position: relative;
            z-index: 2;
        }

        @include media('<large') {
            padding-top: 20vw !important;
        }

        @include media('<tablet') {
            background: transparent;
            padding-bottom: 30px !important;
        }

        @include media('>=phone', '<tablet', 'landscape') {
            padding-left: calc(var(--col) * 2) !important;
            padding-top: 30vw !important;
        }

        @include media('<=phone') {
            padding: 150px var(--col) 30px !important;
        }

        h1 {
            @extend %h2;
            hyphens: manual;
            margin-bottom: 40px;

            @include media-breakpoint-between(lg, lg) {
                padding-right: calc(var(--col) * 2);
            }

            @include media('<tablet') {
                margin-bottom: 20px;
            }

        }
        p {
            padding: 0 var(--col);

            @include media('<x-large') {
                padding: 0;
                width: calc(var(--col) * 5);
            }

            @include media('<large') {
                width: calc(var(--col) * 7);
            }

            @include media('<tablet') {
                width: 100%;
            }

        }
    }
    &__buttons {
        margin: 60px 0 0 var(--col);

        @include media('<x-large') {
            margin: 60px 0 0;
        }

        li:not(:first-child) {

            @include media('<576px') {
                margin-top: 10px;
            }

            &::before {
                @include fontSize(6px);
                @extend %small-caps;
                color: theme-color('white');
                content: 'or';
                display: inline;
                margin: 0 15px 0 18px;
                opacity: .5;
                @include media('<576px') {
                    display: none;
                }
            }
        }
        .btn::before {
            background: #1b172a;
        }
    }
    &__pattern {
        @extend %pattern;
        height: 50%;
        left: 50%;
        top: 0;
        transform: translate(-50%, -6px);
    }
}