@import 'projects/images';
@import 'projects/masthead';
@import 'projects/content';

.projects {
    padding: 75px var(--col) 100px;

    @include media('<tablet') {
        padding: 75px var(--col) 0;
    }

    &__card {
        margin: 0 auto 250px;
        width: calc(var(--col) * 7);

        @include media('<1025px') {
            margin: 0 auto 150px;
            width: calc(var(--col) * 9);
            &:last-child {
                margin-bottom: 0;
            }
        }

        &:nth-child(odd) {
            p {
                left: calc(var(--col) - 10px);
            }
        }
    }
    &__img {
        height: 600px;

        @include media('<1025px') {
            height: 350px;
        }

        &:hover {
            img {
                filter: grayscale(0%);
                opacity: 1;
                transform: scale(1.2);
            }
            figcaption {
                z-index: 1;
                h2, 
                i, 
                p {
                    opacity: .07;
                }
            }
        }
        img {
            @include object-fit(cover, top center);
            @include width-height(100%);
            filter: grayscale(100%);
            opacity: .5;
            transition: all 0.2s ease-out;
            z-index: 2;
        }
        figcaption {
            left: 50%;
            pointer-events: none;
            top: 0;
            transform: translateX(-50%);
            width: calc(var(--col) * 9);
            z-index: 3;

            @include media('<1025px') {
                width: calc(var(--col) * 11);
            }

            h2 {
                @extend %h1;
                color: theme-color('white');
                transform: translateY(-20px);
                transition: all 0.15s ease-in;
                width: 100%;
            }
            i {
                @include fontSize(70px);
                color: theme-color('secondary');
                line-height: 0;
                transform: translateY(80px) rotate(-45deg);
                transition: all 0.15s ease-in;

                @include media('<1025px') {
                    @include fontSize(50px);
                    transform: translateY(20px) rotate(-45deg);
                }

            }
            p {
                @include fontSize(13px);
                bottom: 0;
                left: calc(100% - (var(--col) - 25px));
                letter-spacing: 1px;
                line-height: 1;
                transform: rotate(-90deg);
                transform-origin: bottom left;
                white-space: nowrap;
            }
        }
    }
}