@import 'resume/masthead';
@import 'resume/jobs';
@import 'resume/sidebar';

.resume {
    margin-top: 100px;

    @include media('>tablet', '<large') {
        margin-top: 75px;
        &:first-child {
            margin-top: 150px;
        }
    }

    @include media('<tablet') {
        margin-top: 50px;
    }

    li {
        margin-bottom: 25px;

        @include media('<tablet') {
            margin-bottom: 15px;
        }

    }
    .col-lg-6 {
        padding: 0 calc(var(--col) / 2);

        @include media('<x-large') {
            padding-left: 0;
        }

        @include media('<large') {
            padding: 0;
        }

    }
    .col-lg-3 {
        padding-right: calc(var(--col) / 2);

        @include media('<x-large') {
            padding-right: 0;
        }
    }
}