.project {
    &__content {
        margin: 0 0 var(--col);
        .col-lg-6 {
            margin-bottom: var(--col);
            margin-top: var(--col);

            @include media('>=phone', '<tablet', 'landscape') {
                padding-left: var(--col);
            }
            
            @include media('>=phone', '<tablet') {
                margin-bottom: calc(var(--col) * 2);
                margin-top: calc(var(--col) * 2);
            }
            
            h2 {
                color: theme-color('white');
                ~ p {
                    margin-top: 40px;
                }
            }
        }
        &--lg {
            padding-top: 150px;
            p {
                @extend %h4;
                text-transform: none;
                + p {
                    margin-top: 40px;
                }
            }
        }
        &--tint {
            @extend %bg-tint;
            padding-top: var(--col);
            @include media('>=phone', '<tablet') {
                padding-top: calc(var(--col) * 2);
            }
        }
    }
    &__appendix {
        margin-top: 70px;
        li:not(:first-child) {
            margin-left: var(--col);

            @include media('<tablet') {
                margin-left: 0;
            }

        }
        dt {
            @extend %h6;
            color: theme-color('secondary');
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        dd {
            @extend %p;
        }
    }
}