.project {
    &__content {
        margin: 0 0 var(--col);
        padding-bottom: calc(var(--col) - 40px);
        .col-lg-6:not(:first-child) {
            margin-bottom: var(--col);

            @include media('>=phone', '<tablet', 'landscape') {
                padding-left: var(--col);
            }
            
            @include media('>=phone', '<tablet') {
                margin-bottom: calc(var(--col) * 2);
                margin-top: calc(var(--col) * 2);
            }
            
            h2 {
                color: theme-color('white');
                padding-top: var(--col);
                ~ p {
                    margin-top: 40px;
                }
            }
        }
        &--lg {
            padding-top: 150px;

            @include media('>=phone', '<992px') {
                margin: 0 var(--col);
                padding: 70px 0;

                .col-xl-3 {
                    margin-bottom: 30px;
                }
            }
            p {
                @extend %h4;
                text-transform: none;
                + p {
                    margin-top: 40px;
                }
            }
        }
        &--tint {
            @extend %bg-tint;
            padding-top: var(--col);
            @include media('>=phone', '<tablet') {
                padding-top: calc(var(--col) * 2);
            }
        }
    }
    &__appendix {
        li {
            &:not(:first-child) {
                margin-top: 30px;

                @include media('>=phone', '<992px') {
                    margin-top: 20px;
                }

            }
            
            @include media('>=phone', '<992px') {
                &:last-child {
                    margin-bottom: 30px;
                }
            }

        }
        dt {
            @extend %h6;
            color: theme-color('secondary');
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        dd {
            @extend %p;
        }
    }
}

figure + .col-lg-6 {
    margin-top: -80px;
}