.project {
    &__hero {
        background-attachment: fixed;
        background-position: center top;
        background-size: cover;
        mix-blend-mode: exclusion;
    }
    &__img {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 2fr 2fr;
        margin-bottom: 80px;

        @include media('>=phone', '<992px') {
            grid-gap: 40px 0;
            grid-template-columns: 1fr;
        }
        
        &--reveal {
            @extend %reveal;
            background: theme-color-level('primary', -1);
        }
        li {
            &:first-child:nth-last-child(odd) {
                grid-column: auto / span 2;

                @include media('>=phone', '<tablet') {
                    grid-column: auto / span 1;
                }

            }
            &:last-child:nth-last-child(even),
            &:last-child:nth-last-child(even) ~ & {
                grid-column: auto / span 1;
            }
        }
        &-caption {
            margin-bottom: var(--col) !important;
            h3 {
                @extend %h4;
                color: theme-color('white');
                margin-top: 40px !important;
                letter-spacing: 0;
                text-transform: none;
            }
        }
    }
}

@supports ( --custom:property ) {
    [style*="--aspect-ratio"] {
        &::before {
            content: '';
            display: block;
            padding-bottom: calc( 100% * ( var( --aspect-ratio ) ) );
        }  
        img {  
            @include width-height(100%);
            left: 0;
            top: 0;
        } 
    }
}