.project {
    &__title {
        margin-bottom: 58px;

        @include media('>=large', '<x-large') {
            margin-bottom: 38px;
        }

        @include media('<tablet') {
            margin: 50px 0 0px;
        }

        &::after {
            @include width-height(100%, 100px);
            @extend %bg-tint;
            bottom: -88px;
            content: '';
            left: 0;
            position: absolute;

            @include media-breakpoint-between(lg, lg) {
                bottom: -38px;
                height: 65px;
            }

            @include media-breakpoint-down(md) {
                @include width-height(100%, 80px);
            }

            @include media('<tablet') {
                bottom: -43px;
                height: 57px;
            }

        }
    }
    &__categories {
        margin: 100px 0 35px;

        @include media('<tablet') {
            display: none;
        }
        
        li {
            @extend %bullet;
            @extend %p;
            color: theme-color('white');
            &:not(:first-child)::before {
                margin: 0 14px 0 16px;
            }
        }
    }
}