// -----------------------
// Globals
// -----------------------

:root {
    --primary-font: 'origin-super-condensed', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --col: 8.3333vw;
    --min-window: 600;
    --max-window: 4000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-numeric: lining-nums;

    .home, .page-id-19, .error404 {
        overflow: hidden;

        @include media('<tablet') {
            overflow: visible;
        }

        @include media('>=phone', '<850px', 'landscape') {
            overflow: visible;
        }

    }
}

$breakpoints: (
    phone: 320px,
    small: 600px,
    tablet: 768px,
    large: 992px,
    x-large: 1200px,
    desktop: 1920px
);

$theme-colors: (
    "primary": #140F23,
    "secondary": #FFC857,
    "white": #F7F7FF,
);

::selection {
    background: theme-color('secondary');
    color: theme-color('white');
}


// -----------------------
// Inheritances
// -----------------------

%bar {
    @include width-height(var(--col), 170px);
    background: theme-color('secondary');
    position: absolute;
    transform: translateX(-50%);

    @include media('<x-large') {
        @include width-height(calc(var(--col) * 1.5), 140px);
    }

    @include media('<large') {
        @include width-height(calc(var(--col) * 2), 170px);
    }

    @include media('<tablet') {
        display: none;
    }

}

%bg-tint {
    background: rgba(theme-color('white'), .03);
}

%bullet {
    &:not(:first-child)::before {
        color: theme-color('secondary');
        content: '\2022';
        display: inline-block;
        margin: 0 10px 0 8px;

        @media speech {
            display: none;
            visibility: hidden;
        }

    }
}

%container {
    height: calc(100vh - 80px);
    padding: 80px var(--col) 0;
    position: relative;

    @include media('<x-large') {
        height: calc(100vh - 60px);
        padding: 0;
    }

    @include media('<tablet') {
        height: auto;
        min-height: calc(100vh - 60px);
        padding: 0;
    }

    @include media('>=phone', '<850px', 'landscape') {
        height: auto;
        min-height: calc(100vh - 60px);
    }

}

%hamburger {
    $height: 3px;
    $width: 25px;
    @include width-height($width, $height);
    background: theme-color('primary');
    display: block;
    left: 50%;
    margin-left: -$width / 2;
    margin-top: -$height / 2;
    position: absolute;
    top: 50%;
    transition: transform 200ms;
}

%icon-square {
    @include fontSize(18px);
    @include width-height(42px, 40px);
    padding: 10px;
    text-align: center;
    transform: translateX(-50%);
    &:after {
        content: '';
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 1px;
    }
}

%link {
    box-shadow: 0 0 inset;
    color: theme-color('secondary');
    font-weight: 700;
    transition: box-shadow 0.2s ease-in, color 0.1s linear;
    &:hover {
        box-shadow: 0 -75px inset theme-color('secondary');
        color: theme-color('primary');
        transition: box-shadow 0.3s ease-in, color 0s linear;
    }
}

%lists {
    p {
        strong {
            @extend %h5;
            --tt-key: title;
            color: theme-color('secondary') !important;
            letter-spacing: 0 !important;
            text-transform: none !important;

            @include media('<tablet') {
                display: block;
                + *::before {
                    display: none !important;
                }
            }

        }
        * {
            @extend %bullet;
        }
        + p {
            margin: 0;
        }
    }
}

%menu-lines {
    @include width-height(100%);
    background: inherit;
    backface-visibility: hidden;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.2s, width 0.5s, top .3s;
    will-change: transform, width, top;
}

%nav-active {
    position: relative;
    &::after {
        @include width-height(100%, 10px);
        background: theme-color('white');
        bottom: 2px;
        content: '';
        left: -2px;
        position: absolute;
        transform: scaleX(0);
        transition: transform 0.2s ease-in; 
        z-index: -1;
    }
}

%pattern {
    @include fontSize(16px);
    background: url(/wp-content/uploads/2020/07/plus-bg.png) repeat;
    opacity: .07;
    overflow: hidden;
    pointer-events: none;
    position: absolute;

    user-select: none;
    width: var(--col);

    @include media-breakpoint-down(lg) {
        width: calc(var(--col) * 1.5);
    }

    @include media-breakpoint-down(md) {
        height: 25% !important;
        width: calc(var(--col) * 2);
    }

    @include media('<tablet') {
        width: calc(var(--col) * 3);
    }

}

%reveal {
    @include width-height(100%);
    background: theme-color-level('white', 12);
    left: 0;
    top: 0;
    z-index: 1;
}

%small-caps {
    @include fontSize(11px);
    color: theme-color('secondary');
    font-family: var(--secondary-font);
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 2.5;
    text-transform: uppercase;
}

%title-underline {
    position: relative;
    &::after {
        background: theme-color('white');
        bottom: -20px;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
    }
    &:not(:first-of-type) {
        margin-top: 125px;
    }
}

[data-aos="reveal-left"] {
    transform: scaleX(1);
    transform-origin: 0% 100%;
    transition-property: transform;
    transition-delay: 0.5s;
  }
  
[data-aos="reveal-left"].aos-animate {
    transform: scaleX(0);
}

[data-aos="reveal-right"] {
    transform: scaleX(1);
    transform-origin: 100% 0%;
    transition-property: transform;
    transition-delay: 0.5s;
  }

[data-aos="reveal-right"].aos-animate {
    transform: scaleX(0);
}