// -----------------------
// Headers
// -----------------------

h1,
%h1 {
    @include font-Size(115px, 13vw, 270px);
    color: theme-color('white');
    font-family: var(--primary-font);
    font-weight: 900;
    letter-spacing: clamp(5px, .5vw, 10px);
    line-height: .75;
    text-transform: uppercase;
}

h2,
%h2 {
    @include font-Size(120px, 7.25vw, 180px);
    color: theme-color('secondary');
    font-family: var(--primary-font);
    font-weight: 900;
    letter-spacing: clamp(7px, .7vw, 20px);
    line-height: .875;
    text-transform: uppercase;
}

h3,
%h3 {
    @include font-Size(42px, 3vw, 75px);
    color: theme-color('white');
    font-family: var(--primary-font);
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 1;
    text-transform: uppercase;
}

h4,
%h4 {
    @include font-Size(25px, 1.75vw, 54px);
    color: theme-color('white');
    font-family: var(--secondary-font);
    font-weight: 700;
    line-height: 1.5;
}

h5,
%h5 {
    @extend %small-caps;
    @include font-Size(16px, 1vw, 40px);
    color: theme-color('secondary');
    font-family: var(--secondary-font);
    font-weight: 700;
    line-height: 1.25;
}

h6,
%h6 {
    @extend %small-caps;
    @include font-Size(10px, .75vw, 18px);
    color: theme-color('secondary');
    font-family: var(--secondary-font);
    letter-spacing: 4px;
    line-height: 1.1;
}


// -----------------------
// Body
// -----------------------

a {
    text-decoration: none !important;
}

p,
%p {
    @include font-Size(14px, .75vw, 18px);
    color: theme-color('white');
    font-family: var(--secondary-font);
    line-height: 2;
    margin: 0;
    + p {
        margin-top: 20px;
    }
    a {
        @extend %link;
    }
}

ul {
    list-style-type: none;
}