.btn {
    @extend %small-caps;
    background-size: 1px 1em;
    box-shadow: 0 -0.15em inset;
    margin-top: 50px;

    @include media('<tablet') {
        @include fontSize(10px);
    }

    &::before {
        background: theme-color('primary');
        bottom: -5px;
        content: '';
        display: block;
        height: 10px;
        left: 0;
        right: 0;
        position: absolute;
        transform: translateX(-100%);
        z-index: 2;
    }
    &:hover {
        color: theme-color('secondary');
        &::before {
            animation: line .95s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
    }
    &__icon {
        @extend %h3;
        --tt-key: header;
        color: theme-color('secondary');
        margin-top: 10px;
        transition: all 0.2s ease-out;
        white-space: nowrap;

        @include media-breakpoint-down(lg) {
            display: none;
        }

        &:hover {
            color: theme-color('secondary');
            transform: scale(1.05);
        }
        i {
            margin-right: 30px;
        }
    }
    &--lg {
        @extend %h2;
        background: rgba(theme-color('white'), .03);
        height: 350px;
        margin: 300px 0 250px;
        padding: 50px var(--col);
        transition: all 0.2s ease-out;

        @include media('>tablet', '<x-large') {
            height: 275px;
        }

        @include media('<=tablet') {
            height: auto;
            margin-bottom: 10px;
            padding: 50px var(--col);
        }

        @include media('>=phone', '<tablet', 'landscape') {
            padding-left: calc(var(--col) * 2);
        }

        &:hover {
            color: theme-color('secondary');
            transform: scale(1.05);
            i {
                transform: rotate(-45deg) scale(-1.05);
            }
        }
        span {
            @extend %p;
            font-weight: 400;
            letter-spacing: 0;
            text-transform: none;

            @include media('<tablet') {
                margin-bottom: 10px;
            }

        }
        i {
            @include fontSize(70px);
            line-height: 0;
            right: var(--col);
            top: calc(50% + 20px); 
            transform: rotate(-45deg);
            transition: all 0.2s ease-out;

            @include media('<tablet') {
                display: none;
            }
            
        }
    }
    &__arrow {
        color: theme-color('white');
        left: calc(50% - 5px);
        top: 50px;
        span:last-of-type {
            color: theme-color('secondary');
            margin-top: 60px;
            position: relative;
            &::before {
                @include width-height(70px);
                background: rgba(theme-color('white'), .03);
                content: '';
                left: 50%;
                position: absolute;
                top: -83px;
                transform: translateX(-50%);
            }
        }
    }
}

@keyframes line {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}