.footer {
    height: 80px;
    padding: 0 80px;
    position: relative;
    z-index: 10;

    @include media('<x-large') {
        height: 60px;
        padding: 18px 30px;
    }

    @include media('<992px') {
        margin-top: 150px;
    }

    @include media('<tablet') {
        margin-bottom: 130px;
    }

    @include media('>=phone', '<tablet', 'landscape') {
        margin-bottom: 0;
        padding-left: calc(var(--col) * 2) !important;
    }

    p {
        @include font-Size(9px, .75vw, 11px);
        font-weight: 500;
        line-height: 1;
        * {
            color: theme-color('secondary');
        }
        a:hover {
            box-shadow: none;
            i {
                transform: scale(1.75);
            }
        }
        i {
            @include fontSize(15px);
            margin: 0 3px;
            transition: all .15s ease-in-out;

            @include media-breakpoint-down(lg) {
                @include fontSize(11px);
            }

        }
    }
    &__social {

        @include media-breakpoint-down(lg) {
            display: none;
        }

        a:not(:last-child) {
            margin-right: 30px;
        }
    }
    &__bar {
        @extend %bar;
        bottom: 0;
        left: 50%;
        pointer-events: none;

        @include media-breakpoint-down(lg) {
            bottom: -18px;
        }

        &::before {
            @include fontSize(250px);
            color: theme-color('white');
            content: '+';
            font-family: var(--secondary-font);
            font-weight: 500;
            left: 0;
            position: absolute;
            top: 0;
            transform: translate(-50%, -50%);

            @media speech {
                display: none;
                visibility: hidden;
            }

        }
    }
}