.navbar {
    padding: 40px 80px 50px;
    z-index: 10;

    @include media('<x-large') {
        padding: 40px var(--col) 50px;
    }

    @include media('>=phone', '<tablet', 'landscape') {
        padding-left: calc(var(--col) * 2) !important;
    }

    @at-root .home &, .page-id-19 &, .page-id-17 &, .error404 & {
        left: 0;
        position: absolute;
        top: 0;
    }
    @at-root .page-id-23 & {
        margin-bottom: 105px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 50px;
        }
    }
    &-brand {
        @extend %h3;
        --tt-key: header;
        letter-spacing: 3px;
        strong {
            @include fontSize(11px);
            color: theme-color('secondary');
            font-family: var(--secondary-font);
            font-weight: 700;
            letter-spacing: 1px;
            margin-top: 3px;

            @include media-breakpoint-down(lg) {
                @include fontSize(10.5px);
            }

        }
    }
    .breadcrumb {
        background: transparent;
        transform: translateY(10px);
        &-item {
            @include fontSize(35px);
            color: theme-color('white');
            font-family: var(--primary-font);
            font-weight: 900;
            letter-spacing: 3px;
            line-height: 1;
            &::before {
                color: theme-color('secondary');
                content: '/';
                display: inline-block;
                margin: 0 15px;
                padding: 0;
                @media speech {
                    display: none;
                    visibility: hidden;
                }
            }
            &--truncate:before {
                @include media('<tablet'){
                    content: '<';
                }
            }
            a {
                color: theme-color('white');
            }
        }
    }
}

@keyframes header {
    0%,
    29% {
        @include fontSize(50px);
    }
    30%,
    100% {
        @include fontSize(55px);
    }
}