.mouse {
    @include width-height(25px, 42px);
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    @include media('<tablet') {
        display: none;
    }
    
    &__scroll {
        @include width-height(3px);
        animation: scroll 2s infinite;
        background: theme-color('secondary');
        border-radius: 4px;
        margin: 6px auto;
        z-index: 100;
    } 
} 

@keyframes scroll {
    0% {
        opacity: 1;
    }
    60% {
        @include width-height(3px, 50px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}