.project {
    &__hero {
        background-attachment: fixed;
        background-position: center top;
        background-size: cover;
    }
    &__img {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 2fr 2fr;
        margin-bottom: 50px;
        li {
            &:first-child:nth-last-child(odd) {
                grid-column: auto / span 2;
            }
            &:last-child:nth-last-child(even),
            &:last-child:nth-last-child(even) ~ & {
                grid-column: auto / span 1;
            }
        }
        img {
            @include object-fit(cover, center);
            @include width-height(100%);
        }
        &-caption h3 {
            @extend %h5;
            letter-spacing: 0;
            text-transform: none;
        }
    }
}