// -----------------------
// Globals
// -----------------------

:root {
    --primary-font: 'origin-super-condensed', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --col: 8.3333vw;
}

$theme-colors: (
    "primary": #140F23,
    "secondary": #FFC857,
    "white": #FFFFFF,
);

::selection {
    background: theme-color('secondary');
    color: theme-color('white');
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-numeric: lining-nums;
    overflow-x: hidden;
    @at-root .home, .page-id-19 {
        overflow: hidden;
    }
}


// -----------------------
// Inheritances
// -----------------------

%bar {
    background: theme-color('secondary');
    height: 170px;
    position: absolute;
    transform: translateX(-50%);
    width: var(--col);
}

%bg-tint {
    background: rgba(theme-color('white'), .03);
}

%bullet {
    &:not(:first-child):before {
        color: theme-color('secondary');
        content: '\2022';
        display: inline-block;
        margin: 0 10px 0 8px;
    }
}

%container {
    height: calc(100vh - 80px);
    padding: 80px var(--col) 0;
    position: relative;
}

%lists {
    p {
        strong {
            @extend %h5;
            --tt-key: title;
            color: theme-color('secondary') !important;
        }
        * {
            @extend %bullet;
        }
        + p {
            margin: 0;
        }
    }
}

%pattern {
    @include fontSize(16px);
    color: rgba(theme-color('white'), .07);
    font-family: var(--secondary-font);
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 1;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-align: justify;
    user-select: none;
    width: var(--col);
}

%small-caps {
    @include fontSize(11px);
    color: theme-color('secondary');
    font-family: var(--secondary-font);
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 2.5;
    text-transform: uppercase;
}

%title-underline {
    position: relative;
    &:after {
        background: theme-color('white');
        bottom: -20px;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
    }
    &:not(:first-of-type) {
        margin-top: 125px;
    }
}