// -----------------------
// Globals
// -----------------------

:root {
    --primary-font: 'origin-super-condensed', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --col: 8.3333vw;
}

$theme-colors: (
    "primary": #140F23,
    "secondary": #FFC857,
    "white": #FFFFFF,
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1920px
) !default;

::selection {
    background: theme-color('secondary');
    color: theme-color('white');
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-numeric: lining-nums;
    overflow-x: hidden;
    @at-root .home, .page-id-19 {
        overflow: hidden;
    }
}


// -----------------------
// Placeholder Selectors
// -----------------------

%bg-tint {
    background: rgba(theme-color('white'), .03);
}

%container {
    height: calc(100vh - 80px);
    padding: 80px var(--col) 0;
    position: relative;
}

%pattern {
    @include fontSize(16px);
    color: rgba(theme-color('white'), .07);
    font-family: var(--secondary-font);
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 1;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-align: justify;
    user-select: none;
    width: var(--col);
}

%small-caps {
    @include fontSize(11px);
    color: theme-color('secondary');
    font-family: var(--secondary-font);
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 2.5;
    text-transform: uppercase;
}