// -----------------------
// Headers
// -----------------------

h1,
%h1 {
    --tt-key: h1;
    --tt-min: 600;
    --tt-max: 4000;
    color: theme-color('white');
    font-family: var(--primary-font);
    font-weight: 900;
    text-transform: uppercase;
}

@keyframes h1 {
    0%,
    20% {
        @include fontSize(115px);
        letter-spacing: 5px;
        line-height: .85;
    }
    100% {
        @include fontSize(470px);
        letter-spacing: 24px;
        line-height: .6;
    }
}

h2,
%h2 {
    --tt-key: h2;
    --tt-min: 600;
    --tt-max: 4000;
    color: theme-color('secondary');
    font-family: var(--primary-font);
    font-weight: 900;
    line-height: .875;
    text-transform: uppercase;
}

@keyframes h2 {
    0%,
    13% {
        @include fontSize(90px);
        letter-spacing: 7px;
    }
    14%,
    34% {
        @include fontSize(110px);
        letter-spacing: 10px;
    }
    100% {
        @include fontSize(285px);
        letter-spacing: 20px;
    }
}

h3,
%h3 {
    --tt-key: h3;
    --tt-min: 600;
    --tt-max: 4000;
    color: theme-color('white');
    font-family: var(--primary-font);
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 1;
    text-transform: uppercase;
}

@keyframes h3 {
    0%,
    20% {
        @include fontSize(42px);
    }
    100% {
        @include fontSize(75px);
    }
}

h4,
%h4 {
    --tt-key: h4;
    --tt-min: 600;
    --tt-max: 4000;
    color: theme-color('white');
    font-family: var(--secondary-font);
    font-weight: 700;
    line-height: 1.35;
}

@keyframes h4 {
    0%,
    20% {
        @include fontSize(25px);
    }
    100% {
        @include fontSize(54px);
    }
}

h5,
%h5 {
    @extend %small-caps;
    --tt-key: h5;
    --tt-min: 600;
    --tt-max: 4000;
    color: theme-color('secondary');
    font-family: var(--secondary-font);
    font-weight: 700;
    line-height: 1.25;
}

@keyframes h5 {
    0%,
    20% {
        @include fontSize(16px);
    }
    100% {
        @include fontSize(40px);
    }
}

h6,
%h6 {
    @extend %small-caps;
    --tt-key: h6;
    --tt-min: 600;
    --tt-max: 4000;
    color: theme-color('secondary');
    font-family: var(--secondary-font);
    letter-spacing: 4px;
    line-height: 1.1;
}

@keyframes h6 {
    0%,
    20% {
        @include fontSize(10px);
    }
    100% {
        @include fontSize(18px);
    }
}


// -----------------------
// Body
// -----------------------

a {
    text-decoration: none !important;
}

p,
%p {
    --tt-key: p;
    --tt-min: 1366;
    --tt-max: 1920;
    color: theme-color('white');
    font-family: var(--secondary-font);
    line-height: 2;
    margin: 0;
    + p {
        margin-top: 20px;
    }
    a {
        @extend %link;
    }
}

@keyframes p {
    0%,
    75% {
        @include fontSize(14px);
    }
    100% {
        @include fontSize(15px);
    }
}

ul {
    list-style-type: none;
}