.btn {
    @extend %small-caps;
    background-size: 1px 1em;
    box-shadow: 0 -0.15em inset;
    display: inline-block;
    margin: 50px 0 0 var(--col);
    position: relative;
    @include media-breakpoint-down(lg) {
        margin: 40px 0 0 var(--col);
    }
    &--icon {
        @extend %h3;
        --tt-key: header;
        color: theme-color('secondary');
        margin-top: 10px;
        i {
            margin-right: 30px;
        }
    }
}