.footer {
    height: 80px;
    padding: 0 80px;
    position: relative;
    z-index: 10;
    @include media-breakpoint-down(lg) {
        height: 60px;
        padding: 18px 30px;
    }
    p {
        --tt-key: footer;
        font-weight: 500;
        line-height: 1;
        * {
            color: theme-color('secondary');
        }
        i {
            @include fontSize(15px);
            margin: 0 3px;
            @include media-breakpoint-down(lg) {
                @include fontSize(11px);
            }
        }
    }
    &__social {
        @include media-breakpoint-down(lg) {
            display: none;
        }
        a:not(:last-child) {
            margin-right: 30px;
        }
    }
    &__bar {
        @extend %bar;
        bottom: 0;
        left: 50%;
        @include media-breakpoint-down(lg) {
            bottom: -18px;
        }
        &::before {
            @include fontSize(250px);
            color: theme-color('white');
            content: '+';
            font-family: var(--secondary-font);
            font-weight: 500;
            left: 0;
            position: absolute;
            top: 0;
            transform: translate(-50%, -50%);
        }
    }
}

@keyframes footer {
    0%,
    74% {
        @include fontSize(9px);
    }
    75%,
    100% {
        @include fontSize(11px);
    }
}