.navbar {
    left: 0;
    padding: 40px 80px 50px;
    position: absolute;
    top: 0;
    z-index: 10;
    &-brand {
        @extend %h3;
        --tt-key: header;
        display: inline-block;
        letter-spacing: 3px;
        span {
            @include fontSize(11px);
            color: theme-color('secondary');
            display: block;
            font-family: var(--secondary-font);
            font-weight: 700;
            letter-spacing: 1px;
            margin-top: 3px;
        }
    }
    .breadcrumb {
        background: transparent;
        transform: translateY(10px);
        &-item {
            @include fontSize(35px);
            color: theme-color('white');
            font-family: var(--primary-font);
            font-weight: 900;
            letter-spacing: 3px;
            line-height: 1;
            text-transform: uppercase;
            &:before {
                color: theme-color('secondary');
                content: '/';
                display: inline-block;
                margin: 0 15px;
            }
        }
    }
}

@keyframes header {
    0%,
    100% {
        @include fontSize(55px);
    }
}