
.site-container {
    background: theme-color('primary');
    overflow: hidden;
    position: relative;
    transition: transform 0.7s cubic-bezier(.91,.01,.6,.99);
    will-change: transform;
    z-index: 2;
    @at-root .nav-is-open & {
        transform: translateX(100%);
    }
}
  
.nav-fullscreen {
    background: theme-color('secondary');
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    transition: visibility 0.7s;
    width: 100%;
    z-index: 1;
    @at-root .nav-is-open & {
        visibility: visible;
    }
    a {
        text-decoration: none;
    }
    &--content {
        height: 100vh;
        overflow-y: auto;
        transform: translateX(-50%);
        transition: transform 0.7s cubic-bezier(.86,.01,.77,.78);
        -webkit-overflow-scrolling: touch;
        will-change: transform;
        @at-root .nav-is-open & {
            transform: translateX(0);
            transition: transform 0.5s cubic-bezier(.82,.01,.77,.78);
        }
        .navbar {
            left: 0;
            position: absolute;
            top: 0;
            &-brand {
                color: theme-color('primary');
                * {
                    color: inherit;
                }
            }
        }
    }
    &--social {
        list-style-type: none;
        margin-bottom: 45px;
        li {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
                position: relative;
                &:after {
                    background: theme-color('primary');
                    content: '';
                    display: block;
                    height: 30px;
                    margin: 30px auto 0;
                    width: 1px;
                }
            }
        }
        a {
            color: theme-color('primary');
        }
    }
    &--nav {
        margin-bottom: 40px;
        li {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            a {
                @extend %h3;
                color: theme-color('primary');
                letter-spacing: 3px;
                padding: 0;
            }
        }
    }
    &--projects {
        > ul > li {
            align-items: flex-start;
            display: flex;
            > a {
                @extend %h3;
                color: theme-color('primary');
                letter-spacing: 3px;
                margin-top: 215px;
                padding: 0;
                position: relative;
                white-space: nowrap;
                width: calc(var(--col) + 15px);
                &:after {
                    content: '/';
                    display: inline-block;
                    margin-left: 15px;
                }
            }
            .dropdown-menu {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                height: 100vh;
                overflow-y: auto;
                padding-top: 215px;
                width: 100%;
                a {
                    @extend %h1;
                    color: theme-color('primary');
                    display: inline-block;
                    line-height: .75;
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}
  
.nav-fullscreen--trigger {
    $i: &;
    background: theme-color-level('secondary', -2);
    cursor: pointer;
    height: 80px;
    left: 0;
    mix-blend-mode: difference;
    position: fixed;
    top: 140px;
    width: 70px;
    z-index: 100;
    &:hover #{$i}-icon {
        &:before {
            transform: translateY(-8px);
            @at-root .nav-is-open & {
                top: 0;
            }
        }
        &:after {
            transform: translateY(8px);
            @at-root .nav-is-open & {
                top: 0;
            }
        }
    }
    &-icon {
        background: theme-color('primary');
        height: 2px;
        left: calc(50% - 12px);
        position: absolute;
        top: calc(50% - 1px);
        transition: transform 0.3s;
        width: 24px;
        @at-root .nav-is-open & {
            transform: rotate(180deg);
        }
        @at-root %menu-lines {
            background: inherit;
            backface-visibility: hidden;
            content: '';
            height: 100%; 
            position: absolute;
            right: 0;
            top: 0;
            transition: transform 0.2s, width 0.5s, top .3s;
            width: 100%;
            will-change: transform, width, top;
        }
        &:before {
            @extend %menu-lines;
            transform: translateY(-6px);
            transform-origin: right top;
            @at-root .nav-is-open & {
                transform: rotate(45deg) translateY(0) !important;
                transition: transform 0.5s, width 0.5s, top .3s;
                width: 50%;
            }
        }
        &:after {
            @extend %menu-lines;
            transform: translateY(6px);
            transform-origin: right bottom;
            @at-root .nav-is-open & {
                transform: rotate(-45deg) translateY(0) !important;
                transition: transform 0.5s, width 0.5s, top .3s;
                width: 50%;
            }
        }
    }
}