
.site-container {
    background: theme-color('primary');
    transition: transform 0.7s cubic-bezier(.91,.01,.6,.99);
    will-change: transform;
    z-index: 2;
    @at-root .nav-is-open & {
        transform: translateX(100%);
    }
}
  
.nav-fullscreen {
    @include width-height(100%);
    background: theme-color('secondary');
    left: 0;
    top: 0;
    visibility: hidden;
    transition: visibility 0.7s;
    z-index: 1;
    @at-root .nav-is-open & {
        visibility: visible;
    }
    a {
        text-decoration: none;
    }
    &__content {
        height: 100vh;
        overflow-y: auto;
        transform: translateX(-50%);
        transition: transform 0.7s cubic-bezier(.86,.01,.77,.78);
        -webkit-overflow-scrolling: touch;
        will-change: transform;
        @at-root .nav-is-open & {
            transform: translateX(0);
            transition: transform 0.5s cubic-bezier(.82,.01,.77,.78);
        }
        .navbar {
            left: 0;
            top: 0;
            &-brand {
                color: theme-color('primary');
                * {
                    color: inherit;
                }
            }
        }
    }
    &__social {
        margin-bottom: 45px;
        li {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
                position: relative;
                &:after {
                    @include width-height(1px, 30px);
                    background: theme-color('primary');
                    content: '';
                    display: block;
                    margin: 30px auto 0;
                }
            }
        }
        a {
            color: theme-color('primary');
        }
    }
    &__nav {
        margin-bottom: 40px;
        li {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            a {
                @extend %h3;
                @extend %nav-active;
                color: theme-color('primary');
                display: inline-block;
                letter-spacing: 3px;
                padding: 0;
            }
        }
    }
    &__projects {
        > ul > li {
            align-items: flex-start;
            display: flex;
            > a {
                @extend %h3;
                color: theme-color('primary');
                letter-spacing: 3px;
                margin-top: 215px;
                padding: 0;
                position: relative;
                white-space: nowrap;
                width: calc(var(--col) + 15px);
                &:after {
                    content: '/';
                    display: inline-block;
                    margin-left: 15px;
                }
            }
            .dropdown-menu {
                @include width-height(100%, 100vh);
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                padding-top: 215px;
                a {
                    @extend %h1;
                    @extend %nav-active;
                    color: theme-color('primary');
                    display: inline-block;
                    line-height: .75;
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                    &:after {
                        bottom: -8px !important;
                        height: 30px !important;
                        width: calc(100% + 4px) !important;
                    }
                }
            }
        }
    }
    &--trigger {
        $i: &;
        @include width-height(70px, 80px);
        background: theme-color-level('secondary', -2);
        cursor: pointer;
        left: 0;
        mix-blend-mode: difference;
        top: 140px;
        z-index: 100;
        &:hover #{$i}__icon {
            &:before {
                transform: translateY(-8px);
                @at-root .nav-is-open & {
                    top: 0;
                }
            }
            &:after {
                transform: translateY(8px);
                @at-root .nav-is-open & {
                    top: 0;
                }
            }
        }
        &__icon {
            @include width-height(24px, 2px);
            background: theme-color('primary');
            left: calc(50% - 12px);
            top: calc(50% - 1px);
            transition: transform 0.3s;
            @at-root .nav-is-open & {
                transform: rotate(180deg);
            }
            &:before {
                @extend %menu-lines;
                transform: translateY(-6px);
                transform-origin: right top;
                @at-root .nav-is-open & {
                    transform: rotate(45deg) translateY(0) !important;
                    transition: transform 0.5s, width 0.5s, top .3s;
                    width: 50%;
                }
            }
            &:after {
                @extend %menu-lines;
                transform: translateY(6px);
                transform-origin: right bottom;
                @at-root .nav-is-open & {
                    transform: rotate(-45deg) translateY(0) !important;
                    transition: transform 0.5s, width 0.5s, top .3s;
                    width: 50%;
                }
            }
        }
    }
}