// -----------------------
// Site Content Container
// -----------------------

.site-container {
    background: theme-color('primary');
    transition: transform 0.7s cubic-bezier(.91,.01,.6,.99);
    will-change: transform;
    z-index: 2;
    @at-root .nav-is-open & {
        transform: translateX(100%);
    }
}
  
// -----------------------
// Desktop & Tablet Nav
// -----------------------

.nav-fullscreen {
    @include width-height(100%);
    background: theme-color('secondary');
    left: 0;
    top: 0;
    visibility: hidden;
    transition: visibility 0.7s;
    z-index: 1;
    @at-root .nav-is-open & {
        visibility: visible;
    }
    a {
        text-decoration: none;
    }
    &__content {
        height: 100vh;
        overflow-y: auto;
        transform: translateX(-50%);
        transition: transform 0.7s cubic-bezier(.86, .01, .77, .78);
        -webkit-overflow-scrolling: touch;
        will-change: transform;
        @at-root .nav-is-open & {
            transform: translateX(0);
            transition: transform 0.5s cubic-bezier(.82, .01, .77, .78);
        }
        .navbar {
            left: 0;
            top: 0;
            &-brand {
                color: theme-color('primary');
                * {
                    color: inherit;
                }
            }
        }
    }
    &__social {
        margin-bottom: 45px;
        li {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
                position: relative;
                &::after {
                    @include width-height(1px, 30px);
                    background: theme-color('primary');
                    content: '';
                    display: block;
                    margin: 30px auto 0;
                }
            }
        }
        a {
            color: theme-color('primary');
            i {
                transition: all .15s ease-in-out;
            }
            &:hover i {
                transform: scale(1.75);
            }
        }
    }
    &__nav {
        margin-bottom: 40px;

        @include media('<x-large') {
            margin-top: 20px;
        }

        .navbar-nav {
            align-items: flex-start;
        }
        li {
            display: inline-block;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            a {
                @extend %h3;
                @extend %nav-active;
                color: theme-color('primary');
                display: inline-block;
                letter-spacing: 3px;
                padding: 0;

                @include media-breakpoint-down(lg) {
                    --tt-key: nav;
                }
                
                &:hover {
                    opacity: 1;
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
    &__projects {
        > ul > li {
            align-items: flex-start;
            display: flex;
            > a {
                @extend %h3;
                color: theme-color('primary');
                letter-spacing: 3px;
                margin-top: 215px;
                padding: 0;
                position: relative;
                white-space: nowrap;
                width: calc(var(--col) + 15px);

                @include media('<x-large') {
                    --tt-key: nav;
                    display: inline-block;
                    margin-left: auto;
                    margin-right: auto;
                    width: auto;
                }

                &::after {
                    content: '/';
                    display: inline-block;
                    margin-left: 15px;

                    @include media-breakpoint-down(lg) {
                        display: none;
                    }

                }
            }
            .dropdown-menu {
                @include width-height(100%, 100vh);
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                padding-top: 215px;

                @include media('<x-large') {
                    display: none;
                }

                &:hover > a {
                    opacity: .25;
                    &:hover {
                        @extend %nav-active;
                        opacity: 1;
                        &::after {
                            transform: scaleX(1);
                        }
                    }
                }
                a {
                    @extend %h1;
                    @extend %nav-active;
                    color: theme-color('primary');
                    display: inline-block;
                    line-height: .75;
                    transition: all 0.2s ease-in;
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                    &::after {
                        bottom: -8px !important;
                        height: 30px !important;
                    }
                    &.active::after {
                        @include width-height(calc(100% + 4px), 10px);
                    }
                }
            }
        }
    }
    &--trigger {
        $this: &;
        @include width-height(70px, 80px);
        background: theme-color-level('secondary', -2);
        left: 0;
        mix-blend-mode: difference;
        outline: none;
        top: 140px;
        z-index: 100;

        @include media('<x-large') {
            @include width-height(70px, 65px);
            top: 130px;
        }

        @include media('<large') {
            @include width-height(var(--col), 70px);
            top: 140px;
        }

        @include media('>=phone', '<tablet', 'landscape') {
            @include width-height(70px);
            top: 40px;
        }

        @include media('>=phone', '<tablet', 'portrait') {
            display: none;
        }

        &:hover #{$this}__icon {
            &::before {
                transform: translateY(-8px);
                @at-root .nav-is-open & {
                    top: 0;
                }
            }
            &::after {
                transform: translateY(8px);
                @at-root .nav-is-open & {
                    top: 0;
                }
            }
        }
        &__icon {
            @include width-height(24px, 2px);
            background: theme-color('primary');
            left: calc(50% - 12px);
            top: calc(50% - 1px);
            transition: transform 0.3s cubic-bezier(.1, .7, .9, .72);
            @at-root .nav-is-open & {
                transform: rotate(180deg);
            }
            &::before {
                @extend %menu-lines;
                transform: translateY(-6px);
                transform-origin: right top;
                @at-root .nav-is-open & {
                    transform: rotate(45deg) translateY(0) !important;
                    transition: transform 0.5s, width 0.5s, top .3s;
                    width: 50%;
                }
            }
            &::after {
                @extend %menu-lines;
                transform: translateY(6px);
                transform-origin: right bottom;
                @at-root .nav-is-open & {
                    transform: rotate(-45deg) translateY(0) !important;
                    transition: transform 0.5s, width 0.5s, top .3s;
                    width: 50%;
                }
            }
        }
    }
}

@keyframes nav {
    0%,
    50% {
        @include fontSize(70px);
    }
    75% {
        @include fontSize(60px);
    }
}

// -----------------------
// Mobile Nav
// -----------------------

.tabs {
    // Credit: Lucas Bebber

    $menu-items: 4 + 1;
    $pi: 3.14;
    $open-distance: 105px;
    $opening-angle: $pi * 2;

    &__container {
        background: theme-color-level('primary', 3);
        bottom: 0;
        height: 115px;
        height: calc(var(--vh, 1px) * 115);
        position: fixed;
        width: 100%;
        z-index: 100;
        @include media('>=phone', '<tablet', 'landscape') {
            display: none;
        }
    }
    &__circle {
        $this: &;
        @include width-height(89px);
        background: rgba(theme-color-level('primary', 3), .8);
        border-radius: 100%;
        margin: 0 -15px;
        transform: translateY(-20px);
        z-index: 1;
        &--gooey {
            filter: url('#goo');
            // position: absolute;  
        }
        &--inner {
            @include width-height(64px);
            background: theme-color('secondary');
            border-radius: 100%;
            cursor: pointer;
            transform: scale(1, 1) translate3d(13px, 13px, 0);
            transition-duration: 400ms;
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
            z-index: 2;
            &:hover {
                transform: scale(1, 1) translate3d(13px, 13px, 0);
            }
        }
        &--open {
            display: none;
            &:checked {
                + #{$this}__hamburger {
                    transform:translate3d(0, 0, 0) rotate(45deg);
                    &:before {
                        transform:translate3d(0, 0, 0) scale(0.1, 1);
                    }
                    &:after {
                        transform:translate3d(0, 0, 0) rotate(-45deg);
                    }
                }
                + #{$this}--inner {
                    transform: scale(0.8, 0.8) translate3d(13px, 13px, 0);
                    transition-duration: 200ms;
                    transition-timing-function: linear;
                }
                ~ #{$this}__item {
                    transition-timing-function: cubic-bezier(0.935, 0.000, 0.340, 1.330);

                    @for $i from 1 through $menu-items {
                        $angle:(($pi - $opening-angle) / 2) + (($opening-angle / ($menu-items - 1)) * ($i - 1));
                        &:nth-child(#{$i + 2}) {
                            transition-duration: 80ms + (100ms * $i);
                            // transform: translate3d(cos($angle) * $open-distance, sin($angle) * $open-distance, 0);
                        }
                    }
                }
            }
        }
        &__item {
            @include fontSize(20px);
            @include width-height(60px);
            background: theme-color('secondary');
            border-radius: 100%;
            color: theme-color('primary');
            left: 0;
            line-height: 60px;
            position: absolute;
            text-align: center;
            transform: translate3d(25%, 25%, 0);
            transition: transform ease-out 200ms;
            z-index: -1;
            
            @for $i from 1 through $menu-items {
                &:nth-child(#{$i + 2}) {
                    transition-duration: 180ms;
                }
            }
        }
        &__hamburger {
            $hamburger-spacing: 7px;
            @extend %hamburger;
            transform: translate3d(0, 0, 0);
            &:before {
                @extend %hamburger;
                content: '';
                transform: translate3d(0, -$hamburger-spacing, 0);
            }
            &:after {
                @extend %hamburger;
                content: '';
                transform: translate3d(0, $hamburger-spacing, 0);
            }
        }
    }
    // end credit

    &__nav {
        height: 75px;
        padding: 0 var(--col);
        &-items {
            @include fontSize(9px);
            color: theme-color('white');
            i {
                @include fontSize(22px);
                margin-bottom: 5px;
            }
            &--active {
                color: theme-color('secondary');
            }
        }
    }
}