.mouse {
    @include width-height(25px, 42px);
    border: 2px solid theme-color('secondary');
    border-radius: 15px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    @include media('<tablet') {
        display: none;
    }
    
    &__scroll {
        @include width-height(3px);
        animation: scroll 1s infinite;
        background: theme-color('secondary');
        border-radius: 4px;
        margin: 6px auto;
    } 
} 

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}